.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pages {
  width: 730px;
  overflow: scroll;
  padding: 15px 0;
}

.activePage {
  border-bottom: 1px solid;
  font-weight: 700;
  color: #e35475;
}

.page {
  padding: 0 10px;
  cursor: pointer;
}
