.container {
  background-color: #fff;
  border: 1px solid #9d9898;
  border-radius: 10px;
  width: 750px;
  display: flex;
  margin-top: 10px;
}

.avatar img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #9d9898;
}

.wrap1 {
  text-align: center;
  padding: 10px;
}

.wrap2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  color: grey;
}

.wrap3 {
  display: flex;
  height: 60%;
  flex-direction: column;
  justify-content: space-around;
}